<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAcLkq9zIdSY6c8ELhvEWC-caH6DyfU9Xs</string>
	<key>GCM_SENDER_ID</key>
	<string>185164156849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.econnect</string>
	<key>PROJECT_ID</key>
	<string>econnect-9c51f</string>
	<key>STORAGE_BUCKET</key>
	<string>econnect-9c51f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185164156849:ios:a1afc2d6ad3ff6429db790</string>
</dict>
</plist>